<app-header></app-header>
<!-- Subheader Start -->
<div class="subheader text-center dark-overlay dark-overlay-2" style="background-image: url('assets/img/morekmek/mor-ekmek.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <nav aria-label="breadcrumb">
          
        </nav>
      </div>

    </div>
  </div>
  <!-- Subheader End -->

  <!-- Blog Posts Start -->
  <div class="section section-padding">

    <div class="blog-fw">
      <div class="row masonry">

        <!-- Post Start -->
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek Hakkında Basında Biz</a> </h3>
            <div  class="post-thumbnail">
              <iframe class="videoStyle" src="https://www.youtube.com/embed/hR0pjJTquxE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="post-desc">
              <p><b>A Haber</b>, <b></b> ve <b>Trt Haber</b> Bizzat <b>Mutlu Günler Fırını</b>na Gelerek <b>Mor Ekmeği</b> Haber Yapmıştır. 
                Ayrıca katıldığımız <b>Uluslararası 3. Ekmek Festivali</b>nde <b>DHA</b> ile <b>mor ekmek</b> hakkında röportaj yapılmıştır.  
                Hepsine şükranlarımızı Arz ediyoruz. Çok kıymetli olan bu ekmeği tanıtmak adına elimizden geleni yapmaya çalışıyoruz. 
                Şimdiden bu ekmeği düzenli tüketen müşterilerimizden sağlıkları ile ilgili güzel haberler almaya başladık. 
                Bir çok ile bugüne kadar bu ekmeği göndermeyi başardık. Hedefimiz her sofraya bu ekmekle girebilmek. 
                Özelikle <b>sağlıklı nesiller</b> yetiştirebilmek adına çocukların hatta bebeklerin bu ekmeği tüketmesini çok önemsiyoruz.</p>
                
              </div>
          </article>
        </div>
        <!-- Post End -->
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek Hakkında Bilinmesi Gerekenler</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek1.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p><b>Mor Ekmek</b> hakkında bir çok yerde yanıltıcı bilgiler tarifler olduğunu gördük. 
                Bu kadar kıymetli bir ekmeğin değersizleştirildiğini gördük. Bilgi kirliliğini ortadan kaldırmak için bu sayfayı hazırladık. 
                Türkiye de bu işe ilk omuz verenlerden biri olarak bize gelen soruları bu sayfada cevaplamaya çalıştık. 
                Bu ekmek geleceğin ekmeğidir. İnsanlar <b>sağlıklı beslenerek</b> bir çok hastalıktan korunur ve kurtulurlar. 
                Ekmek beslenmenin <b>temel taşıdır</b> ve bu yüzden beslenmede çok önemli bir role sahiptir. 
                Bu sayfa sürekli güncel tutulacaktır. Gelen sorularla daha da genişletilecektir.
                Eğer yediğiniz <b>mor ekmeğin</b> tadını beğenmediyseniz tükettiğiniz ekmeğin <b>sahte</b> olduğundan emin olabilirsiniz. 
                Çünkü gerçeğinin tadı kesinlikle sizi rahatsız etmez. Bu ekmeğin gerçeğini bir kez yerseniz ve yine rengine bir kez 
                aşina olursanız artık sahtesinden çok rahat ayırt edebilirsiniz. Ayrıca ekmeğinizi <b>limon</b> ile mutlaka test edin. </p>
              </div>
          </article>
        </div>
        <!-- Post Start -->
        <div class="col-lg-6 masonry-item" >
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmeği Nasıl Sipariş Verebilirsiniz?</a> </h3>
            <div class="post-thumbnail">
              <iframe class="videoStyle" src="https://www.youtube.com/embed/w-pCHmXqfo8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="post-desc">
              <p>Whatsapp Sipariş Hattımız <a href="tel://+905536935710">0 (553) 693 57 10</a>.
                Ayrıca
                <a href="https://www.instagram.com/mutlugunlerfrn/" target="BLANK"><b>İnstagram</b></a> ve 
                <a href="https://www.facebook.com/mutlugunlerfrn" target="BLANK"><b>Facebook</b></a> hesabımız ve
                
                <a href="https://www.n11.com/magaza/morekmekankara"><b>N11 MorEkmekAnkara</b></a>  mağazamız üzerinden sipariş verebilirsiniz.
                
                Kargo olarak gönderim sağlıyoruz. Kargonuzu minimum  <b>2 kg</b> ve <b>8 adet</b>  olarak hazırlıyoruz. 
                Ödeme havale yada Eft olarak hesabımıza gönderildikten sonra siparişiniz kargoya teslim ediliyor. 
                Kargo ücretsiz olup  ödeme 50 TL  olarak yapılacaktır. 
                <b>Mor Ekmek</b> Siparişleriniz Özenle Hazırlanarak <b>Bir Çok İlimize 1 Gün</b> İçerisinde Teslim Edilmektedir.<br/>
               
              </p> <i>“Mor ekmeğin içeriği moleküler saflaştırma sistemleri ile ülkemizde yetişen kırmızı,mor sebze-meyvelerden elde edilir.”</i>
            </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ürünler Artık Konya’da</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek3.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p>Tüm Türkiye’de <b>mor</b> ürünlerin üretim çalışmaları devam ediyor. Konya için yapılan görüşmeler neticesinde mor 
                ürünlerin üretimi <b>Mutlu Günler Fırını</b> koordinesinde güvenli ellere teslim edilmiştir. 
                Konya için bizi temsilen çalışmaları <b>Mustafa Kemal Koçlar</b> takip etmektedir. İrtibat: <a href="tel://+905337376732">0 533 737 67 32</a></p>
              </div>
          </article>
        </div>
        <!-- Post End -->
        
        
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek Tarifi ve Mor Ekmeğin Yapımı</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek5.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p><b>Mor Ekmeğ</b>in İnternet üzerinden  verilen <b>tariflerin</b> hiçbiri gerçeği yansıtmamaktadır. 
                Örneğin; 90 gram ekşi maya, 200 gram beyaz un, 50 gram sarı sert buğday unu 115 gram tam buğday unu, 
                280 gram <b>mor havuç suyu</b> ve 7 gram tuz bu ekmeğin tarifi olarak verilmiştir. Amaç başta da söylediğimiz 
                gibi mor renkli bir ekmek üretmek veya tüketmek değildir. Kaldı ki bu şekilde yapılan bir ekmek 
                bahsettiğimiz <b>faydaların hiç birini sağlamaz</b>. Mor ekmek çağımızın çok ciddi ve yaygın hastalıklarıyla <b>savaşır</b>. 
                Bunu da içerdiği karışım sayesinde sağlar. Bu karışımın ismi yukarıda da bahsettiğimiz <b>mormikstir</b>. 
                Bu ekmekten tam anlamıyla fayda görmek için içerikte kullanılacak karışım doğru oranda kullanılmalıdır. 
                Çünkü eksik kullanıldığında sonuç elde edilmesi çok zordur. Yukarıda izleyebileceğiniz videolarda özellikle
                 bu noktaya vurgu yapılmıştır. Bu ekmeğin  gerçek tarifi ve bizdeki uygulaması ; <b>%65 tam buğday  unu %35 
                  beyaz un ve en önemlisi % 8 oranında mormiks</b> karışımıdır.</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek Nedir</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek4.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p><b>Mor ekmek</b> fonksiyonel bir gıda ve şimdiye kadar üretilen en sağlıklı ekmektir. Bu Ekmeği herkes tüketebilir. 
                Bu ekmeği yerken normal ekmek tadı alırsınız böylece sürekli tüketiminde hiç bir zorlanma yaşamazsınız. 
                Tadı değişmez çünkü içeriğini oluşturan <b>MORMİKS</b> karışımı yüksek teknoloji sayesinde bu engeli ortadan kaldırmıştır.
                 Bu ekmek mucize bir ürün değildir. Tamamen bilimsel bir çalışmanın ürünüdür. Tamamen doğaldır. 
                 Katkı maddesi içermediğinden raf ömrü normal ekmekle aynıdır. Hedefimiz bu ekmekle her sofraya girebilmektir.
                  Çünkü günlük ve sürekli tüketiminde insan vücuduna inanılmaz faydaları vardır.</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmeğin Faydaları Nelerdir?</a> </h3>

            <div class="post-thumbnail">
              <iframe class="videoStyle" src="https://www.youtube.com/embed/qsHIWSXLgto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="post-desc">
              <p>Bu ekmeğin <b>glisemik indeksi</b> diğer ekmeklere oranla %20 düşüktür. Böylece daha fazla tokluk hissi verir. 
                Özellikle diyet yapanların bu ekmeği tüketmesi çok faydalıdır. Ülkemizde şeker hastalığı çok yaygındır. 
                <b>Şeker hastalığında</b> şeker kana çok hızlı karışır. <b>Mor ekmek</b> içerdiği karışım sayesinde şekeri dengede tutar. 
                Şeker dengesini şeker enzimlerini baskılayarak sağlar. Şeker birden kana karışmaz. Bu ekmek içerdiği 
                doğal karışım sayesinde vücutta geniş çapta temizlik yapar. Temizliği sahip olduğu antioksidan özelliği
                 sayesinde yapar. Vücudun bağışıklık sistemini güçlendirir. Bu sayede hastalıklara yakalanma riski azalır. 
                 Mevcut hastalıkların iyileşmesi için savaş verir. İçerdiği antosiyanin sayesinde vücutta onarım başlatır. 
                 <b>Mor ekmek</b> tüketmek <b>“şeker” , “yüksek tansiyon“, “kalp ve beyin damar tıkanıkları“, “böbrek yetmezlikleri“, 
                  “erken yaşlanma ile başlayan unutkanlık”</b> gibi hastalıklarla mücadele demektir.</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek ile Mor Renkli Ekmek Arsındaki Fark Nedir?</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek6.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p>Mor renkli ekmek içeriği gıda boyası olan ekmektir. Yine içeriği bazı mor renkli meyve ve sebzelerin suyu ile 
                yapılan ekmektir. Sağlığa hiç bir faydası yoktur. Çünkü bilimsel bir çalışma değildir. Laboratuvar ortamında 
                herhangi bir teste tabi tutulmamıştır. Kısaca <b>Mor Renkli Ekmek</b> sahte bir ürün ve para tuzağıdır. Mor ekmek 
                için yapılan AR-GE büyük bir çalışmadır ve devrim niteliğindedir. Sahtesinden öncelikle rengi ile hemen 
                ayırt edilebilir. Sahtesinin acı bir tadı vardır. Gerçeğinde ekmeğin tadında herhangi bir farklılık yoktur. 
                Sahtesinin üzerine <b>LİMON</b> sıkıldığında herhangi bir renk değişimi olmaz. Gerçeğinde ise ekmeğin rengi çok hızlı
                 bir şekilde pembeye ve kırmızıya dönüşür. Bu tamamen doğal olmasının ispatıdır. Bu konuda tereddüt yaşayan 
                 ve bilgi almak isteyen bütün tüketicilerimiz bize; sosyal medya ve Whatsapp hattından ulaşabilirler.</p>
                 <p>"Mor Ekmeği Üretmek isteyen her fırın için çalışma yapabilir durumdayız artık. Sizlerde mahallenizdeki fırınlardan 
                   mor ekmek için bizimle görüşmesini isteyebilirsiniz. Hep birlikte sahte mor ekmekle mücadele edeceğiz. 
                   <b>Mutlu Günler Fırını Mor Ekmek İç Anadolu Yetkili Üreticisi</b> Olarak faaliyetlerine devam ediyor."</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmeğin İçeriği nedir?</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek7.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p>Bu ekmeğin içerisinde <b>MORMİKS</b> isimli bir <b>karışım</b> vardır. Tamamen doğal olan bu karışım yüksek teknoloji ürünüdür.
                 Bu ekmeği sağlıklı bir ekmek yapan içeriğindeki bu karışımdır. Bu karışım ekmeğin lezzetinde herhangi bir
                  değişiklik yapmaz. Bu ekmeğe lezzeti veren ise bizleriz. <b>Ekşi maya</b>larımızla bu ekmeğin lezzetini daha üst
                   seviyelere taşıyoruz. Yine bu ekmeğin içeriğinde ağırlıklı olarak tam buğday unu kullanıyoruz. 
                   <b>Tam buğday unu</b> artık geleneksel ve faydası bilinir bir undur.</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek  Mutlu Günler Fırınında </a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek8.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p><b>Mor Ekmeği</b> Mutlu Günler Fırını olarak ilk olarak bizde bir haberden okuyarak öğrendik. Haber normalde 
                çok dikkat çekmiyordu.Ancak biraz araştırınca ne kadar önemli olduğunu anladık. Aynı günün sabahı hiç 
                vakit kaybetmeden bu işin mimarı <b>Prof. Dr. İhsan Kara</b> Hocamızın yanına randevu alarak gittik. Aşağıda 
                hocamızla ilgili detaylı bilgi vereceğiz. Kendimizi anlattık ve <b>mor ekmeği</b> bizzat kendisinden dinledik. 
                Bu ekmeği üretebileceğimiz noktasında yeterli kanaat oluştu. Ve hocamızın ekibi yerinde inceleme 
                yaparak bize üretim izni verdi. Bugüne kadar yapmış olduğumuz çalışmalar neticesinde çok yol katettik. 
                Artık mor ekmeğin üzerimizdeki sorumluluğu çok daha fazla. Çünkü Ankara ile başladığımız yolculuğa İç 
                Anadolu ve yine birçok il olarak devam ediyoruz. Bu ekmeği hem kendimiz üretiyoruz hem de üretim yapmak 
                isteyen fırınlarda üretime doğrudan destek sağlıyoruz. Bu ekmeğin içeriği olan MORMİKS’i istekli 
                fırınlara doğrudan biz temin ediyoruz. Üretim aşamalarını tek tek anlatıyoruz uygulanacak reçete 
                ile ilgili bizzat yine istekli fırınlara giderek destek oluyoruz.</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek Ankara’da Nerede?</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek9.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p><b>Mor ekmek</b> ilk olarak Ankara’da <b>Mutlu Günler Fırını</b>n da üretilmeye başlamıştır. Bu ekmeğin üretilmesi 
                çok hassas bir üretimdir. Normalde bu ekmeğin Ankara’da üretim ve ürettirme hakkı sadece bizde bulunmaktadır.
                 Daha sonra yapılan ikili görüşmelerde bu kapsam dahada genişletilmiştir. <b>İç Anadolu Bölgesi</b> ve yine farklı
                  bölgelerden illerde üretim ve ürettirme yetkisi verilmiştir. Ankara için üretim tek merkezde <b>MUTLU GÜNLER 
                    Fırını</b>nda yapılmaktadır.İkinci bir satış noktamız <b>Çağdaş Ekmek Fabrikası</b>dır. Diğer fırınlarla görüşmeler
                   devam etmektedir.</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mormiks Nedir?</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek10.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p><b>Mormiks</b> fonksiyonel bir gıdadır ve Fonksiyonel Gıdalar Geleceğin gıdaları olarak tanımlanır. Fonksiyonel gıdalar; 
                vücudun temel besin ögelerine olan ihtiyacı karşılamanın ötesinde insan <b>fizyolojisi</b> ve <b>metabolik</b> fonksiyonları 
                üzerinde ilave <b>faydalar</b> sağlayan, böylelikle <b>hastalıklardan</b> <b>korunmada</b> ve daha <b>sağlıklı bir yaşama ulaşmada</b> etkinlik 
                gösteren <b>gıdalar</b> veya <b>gıda bileşenleridir</b>.
                <b>Mormiks</b>, Sankara Beyin ve Biyoteknoloji Araştırma Merkezi tarafından geliştirilen, <b>mor sebze ve meyvelerin 
                  özleri</b> kullanılarak üretilen bir <b>karışımdır</b>.
                <b>Mormiks</b> mor sebze meyve özlerinden yapılmış, <b>tamamen doğal</b>, <b>konsantre</b> bir üründür. Katıldığı gıdaya renk ve 
                tüketene sağlık verir. İçerdiği <b>antioksidanlar</b> vücudumuzdaki bir çok şeyi onarır, kendimizi daha iyi hissetmemizi sağlar.
                <b>Mormiks</b> ile yapılan <b>bir ekmek</b> bir çok sağlık faydası taşır. Bunların en başında mor ekmeğin <b>sindiriminin %20 daha yavaş</b> olması gelmektedir.
                <b>Mormiks’le</b> yapılan tatlılar, içeriğinde bulunan doğal antosiyaninler sayesinde <b>kan şekerinin yükselmesini</b> engeller 
                ve böylece şekerin kanımıza karışmasını yavaşlatır. İçeriği mor sebze ve meyvelerden elde edilen antosiyanin bileşenleriden oluşmaktadır. <b>Mormiks %100 doğaldır</b></p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Antosiyanin Nedir ve Ne İşe Yarar?</a> </h3>

            <div class="post-desc">
              <p>Faydaları renklerinde saklıdır. Kırmızı ve mor renkli meyve ve sebzelerde bulunan renk verici bir madde olan antosiyanin, 
                içinde bulunduğu meyvede çok güçlü bir antioksidan etki göstermektedir. Antosiyaninler güçlü bir <b>antioksidan</b> kaynağıdır</p>
            </div>
            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/mor-ekmek11.jpg" alt="post thumbnail"></a>
            </div>
            <h3 class="post-title"> <a>Antosiyanin Zengini Gıdalar</a> </h3>

            <div class="post-desc">
              <p>Ahududu, böğürtlen, üzüm, acai çileği, vişne, mürdüm eriği, siyah havuç, kırmızı lahana, pancar, patlıcan, kırmızı turp 
                antosiyanin içeren besinler arasındadır.</p>
            </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Antosiyanin Zengini Gıdaların Faydaları</a> </h3>

            <div class="post-desc">
              <p>Michigan Üniversitesince yapılan çalışmalar, antosiyanin’in; <b>kan şekerinin düşürülmesi</b> ve <b>karaciğerde daha az yağ birikimi</b> 
                konusunda etkin bir rol oynadığını göstermektedir. Michigan Eyalet Üniversitesinin araştırmasına göre antosiyanin aynı 
                zamanda <b>kas ağrılarının hafifletilmesinde</b>  olumlu katkılar sağlamaktadır.</p>
                <p>
                  <b>Antosiyaninler</b> bitkilerdeki suda çözünen pigmentlerin en geniş grubudur. Yürütülen birçok bilimsel araştırma antosiyaninlerin 
                  <b>antioksidan</b> ve <b>bazı kanser türlerinde hücre büyümesini engelleyici</b> etkisini göstermiştir.
                </p>
                <p>
                  1) KALP HASTALIKLARINA KARŞI KORUYUCUDUR<br/>
                  2) KOLESTEROLÜ DÜŞÜRÜR<br/>
                  3) OBEZİTE İLE ETKİN MÜCADELE SAĞLAR<br/>
                  4) KANSERDEN KORUR<br/>
                  5) GÖRME KALİTESİNİ YÜKSELTİR<br/>
                  6)YÜKSEK BİLİŞSEL PERFORMANS SAĞLAR
                </p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>PROF. DR. İHSAN KARA KİMDİR?</a> </h3>

            <div class="post-thumbnail">
              <a><img src="assets/img/morekmek/prof.-dr.-ihsan-kara.jpg" alt="post thumbnail"></a>
            </div>
            <div class="post-desc">
              <p>Prof. Dr. İhsan Kara; 10.09.1942 tarihinde Malatya’da doğdu. 1963 yılında Malatya Lisesi’nden mezun olan Prof. Dr. Kara İstanbul Üniversitesi Tıp Fakültesini kazandı. Cerrahpaşa Tıp Fakültesi’nde Nöroloji Uzmanı olarak görev yapan Kara, daha sonra DETAE Öğretim Üyesi, DETAE Müdür Yardımcısı ve DETAE Sinirbilim, Anabilim Dalı Başkanlığı, İstanbul Biyoteknoloji ve Laboratuvar Hizmetleri Limited Şirketi, Şirket Ortağı, AR-GE Direktörü, Nanoyaşam, Nanobiyoteknoloji, AR-GE Sanayi ve Ticaret Limited Şirketi, Şirket Ortağı ve AR-GE Direktörü olarak birçok önemli görevi üstlendi. Prof. Dr. İhsan Kara’nın Uluslararası birçok alanda da başarılı işlerde imzası bulunuyor.</p>
              </div>
          </article>
        </div>
        
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Ankara Uluslararası Ekmek Festivalinde Mutlu Günler Fırını ve Mor Ekmek</a> </h3>

            <div class="post-thumbnail">
              <iframe class="videoStyle" src="https://www.youtube.com/embed/xohA7HspqjI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="post-desc">
              <p>Ankara’da düzenlenen 3. Uluslararası Ekmek Festivalinde Mutlu Günler Fırını olarak biz de vardık. Değerli yöneticimiz Süleyman Dursun Bey fonksiyonel bir ürün olan “Mor Ekmek”i Demirören Haber Ajansına tanıttı.</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mutlu Günler Fırını Olarak TRT Haber kanalına “Mor Ekmek“i Tanıttık</a> </h3>

            <div class="post-thumbnail">
              <iframe class="videoStyle" src="https://www.youtube.com/embed/otAnPnzxVLk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="post-desc">
              <p>“<b>Mor Ekmek</b>” Üretim Hakkı sadece <b>Mutlu Günler Fırını</b>n‘da bulunmaktadır. Değerli yöneticimiz 
                <b>Süleyman Dursun</b> Bey <b>TRT Haber</b> kanalına “<b>Mor Ekmek</b>” ve “Mor Ürünler” hakkında yaptığı açıklamalar. 
                <b>MOR EKMEK</b>: <b>Mor</b>, <b>kırmızı</b> sebzeler ve meyvelerdeki aktif bileşenlerin doğal renginden geliyor. 
                Aslında sebze ve meyvelerde sağlığımıza faydalı olan kısım şekerli olan kısım değil, rengini 
                veren doğal kısımı. Bu nedenle üretilen unlu mamuller de mor renkte oluyor. Teknoloji kullanılarak
                 <b>saflaştırıldığı</b> için yapılan ürünün lezzetinde ve kokusunda bir <b>değişiklik</b> olmuyor.  Tek fark içeriği
                  mor bileşenlerle zenginleştirilmiş olması. Yani <b>sentetik</b> herhangi bir <b>kimyasal içermiyor</b> !</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek için Star TV ile Mutlu Günler Fırınında Yapılan Röportaj</a> </h3>

            <div class="post-thumbnail">
              <iframe class="videoStyle" src="https://www.youtube.com/embed/xIvgHlrLWy4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="post-desc">
              <p> <b>Mor Ekmek Faydaları</b>; “<b>Hücre yenilenmesini</b> sağlayan antosiyaninler ve flavonoidler içerir.” “<b>Kanserle savaşan</b> antioksidanlar içerir.”
                 “<b>Obezite ve diyabetle savaşan</b> bileşikler içerir.” “<b>Enfeksiyonları</b> önleyici özellikler taşır.” “Daha uzun sürede <b>sindirilir</b>.”
                  “ <b>Glisemik indeksi düşüktür</b>. “</p>
              </div>
          </article>
        </div>
        <div class="col-lg-6 masonry-item">
          <article class="post">
            <h3 class="post-title"> <a>Mor Ekmek Nedir Nasıl Yapılıyor Mor Ekmek Yapmak İçin Neler Kullanılıyor Tüm Soruları Cevapladık</a> </h3>

            <div class="post-thumbnail">
              <iframe class="videoStyle" src="https://www.youtube.com/embed/Jql2jMIQWdc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="post-desc">
              <p> <b>A Haber</b> Geleceğin Ekmeği Mor Ekmeğe Duyulan ilgi ve alakaya kayıtsız kalmayarak Tanıtımı
                 İçin <b>Mutlu Günler Fırını</b>nı Ziyaret Etmiştir. Mor Ekmek İç Anadolu Yetkili Bayi.</p>
              </div>
          </article>
        </div>
       

      </div>
    </div>

  </div>
  <!-- Blog Posts End -->
<app-footer></app-footer>