<app-header></app-header>
<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1>Hakkımızda</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
          </ol>
        </nav>
      </div>

    </div>
  </div>
  <!-- Subheader End -->

  <!-- About us start -->
  <div class="section">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-6 mb-lg-30 ct-single-img-wrapper">
          <img src="assets/img/about.jpg" alt="img">
          <div class="ct-dots"></div>
        </div>
        <div class="col-lg-6">
          <div class="section-title-wrap mr-lg-30">
            <h5 class="custom-primary">Hakkımızda</h5>
            
            <p class="subtitle">
              1977 Yılında başlar Osman DURSUN ve ekibinin işçilikten, işverenliğe terfisi, Erzurum’un Pasinler ilçesinde ilk fırınlarını kurar ve ta o zamanlarda yaptığı doğru hamlelerle geçecek olan yılların onu nasıl bir değer zincirinin içerisinde bulunacağı ve hem fırıncılık sektörüne hem de unlu mamüllerdeki çeşitliliğe nasıl katkı sağlayacağını daha o zamandan belli etmeye başlar. Takvimler 1981 yılını gösterdiğinde artık ilçeden ile göçüş zamanı gelmiş ve ilk fabrika projesi burada hayata geçirilmiştir. 1996 yılına gelindiğinde Aşık Reyhani’nin dediği gibi “50 yıldır topladığım ekini, harmana dökmeden yaktım gidirem” , der tüm anılarını Erzurumda bırakıp fırıncılıkla ilgili bilgi ve birikimleriyle, Ankara fırıncılığına marhaba der.
            </p>
            <p class="subtitle">
              Ankara’nın Dikmen Bölgesinde faaliyet göstermeye başlayarak, ÇAĞDAŞ EKMEK FABRİKASI’nda ürettiği katkısız, doğal ekmekleriyle Dikmen bölgesinde kısa sürede nam salmış ve marka olma yolunda ilk adımlarını atmıştır. Bununla yetinmeyecek olan Osman DURSUN ve ekibi artık Ankara’lılara tamamen doğal ve geç bayatlama özelliğine sahip “TANDIR EKMEĞİ” ni sunmuş ve bununla bütün Ankara’ya ulaşmayı hedeflemiştir.
            </p>
            <p class="subtitle">
              Her geçen gün organik ekmeklere bir yenisi eklenmiştir. Son olarak tam buğday ununun hem lezzeti hem de besleyiciliğinde yararlanmış ve YÖRÜK EKMEĞİ üretilmiştir. Minik SÜTLÜ EKMEKler sayesinde hem israfın önüne geçilmeye çalışılmış hem de sütün lezzetiyle damak tadına hitap edilmiştir. Ürün çeşitliliğini artmasının yanı sıra, Pursaklar’dan Sincan’a, Yıldız’dan Keçiören’e Ankara’nın dört bir yanına düzenlenen servislerle daha fazla yurttaşlarımıza ulaşılması hedeflenmiş ve bu da başarılmıştır.
            </p>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="section pt-0">
    <div class="container">
      <!-- Additional Information Start -->
      <div class="product-additional-info">
        
        <div class="tab-content" id="bordered-tabContent">
          <div class="tab-pane fade show active" id="tab-product-desc" role="tabpanel" aria-labelledby="tab-product-desc-tab">
            <h5 class="custom-primary">Misyon - Vizyon</h5>
            Misyonumuz tasarruflu ve hijyen şekilde lezzetli ekmeği yapmak, israf olmasına meydan vermeden tüketmek.
            Vizyonumuz Temel gıda maddemiz olan EKMEĞİN;
            Öneminin kavranması Hijyenik şartların oluşturulması. Ürünün sunumu ve paylaşımı. İsrafın önlenmesi
          </div><br/>

          
        </div>
      </div>
      <!-- Additional Information End -->
    </div>
  </div>
  <!-- About us End -->

  <!-- Infographics Start -->
  <div class="section section-padding bg-cover bg-center bg-parallax dark-overlay dark-overlay-2" style="background-image: url('assets/img/hakkimizda.jpg')">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title text-white">Başarı Hikayemiz</h2>
        
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-employee"></i>
            <h4>24,934</h4>
            <p>Mutlu Müşteriler</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-bread-roll"></i>
            <h4>65,317</h4>
            <p>Satılan Mor Ekmek</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-food-tray"></i>
            <h4>4,658</h4>
            <p>Servis Edilen Yemek</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-soda"></i>
            <h4>67,335</h4>
            <p>Servis Edilen İçecek</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Infographics End -->

  <!-- Team members Start -->
  <div class="section section-padding">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-6 mb-lg-30">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="ct-team-item">
                <div class="ct-team-thumb">
                  <img src="assets/img/team/1.jpg" alt="team">
                </div>
                <div class="ct-team-desc">
                  <h5>Ad Soyad</h5>
                  <span>Görev</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ct-team-item">
                <div class="ct-team-thumb">
                  <img src="assets/img/team/2.jpg" alt="team">
                </div>
                <div class="ct-team-desc">
                  <h5>Ad Soyad</h5>
                  <span>Görev</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ct-team-item">
                <div class="ct-team-thumb">
                  <img src="assets/img/team/3.jpg" alt="team">
                </div>
                <div class="ct-team-desc">
                  <h5>Ad Soyad</h5>
                  <span>Görev</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ct-team-item">
                <div class="ct-team-thumb">
                  <img src="assets/img/team/4.jpg" alt="team">
                </div>
                <div class="ct-team-desc">
                  <h5>Ad Soyad</h5>
                  <span>Görev</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="ct-team-item">
                <div class="ct-team-thumb">
                  <img src="assets/img/team/1.jpg" alt="team">
                </div>
                <div class="ct-team-desc">
                  <h5>Ad Soyad</h5>
                  <span>Görev</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ct-team-item">
                <div class="ct-team-thumb">
                  <img src="assets/img/team/2.jpg" alt="team">
                </div>
                <div class="ct-team-desc">
                  <h5>Ad Soyad</h5>
                  <span>Görev</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ct-team-item">
                <div class="ct-team-thumb">
                  <img src="assets/img/team/3.jpg" alt="team">
                </div>
                <div class="ct-team-desc">
                  <h5>Ad Soyad</h5>
                  <span>Görev</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ct-team-item">
                <div class="ct-team-thumb">
                  <img src="assets/img/team/4.jpg" alt="team">
                </div>
                <div class="ct-team-desc">
                  <h5>Ad Soyad</h5>
                  <span>Görev</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Team members End -->

  

  
<app-footer></app-footer>
