<app-header></app-header>
<!-- Contact Start -->
<div class="contact-wrapper" >

    <div class="ct-contact-map-wrapper" style="padding-left: 5%;padding-bottom: 5%;padding-right:5% ;"><br/><br/>
      <iframe   src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12230.586313078727!2d32.6531951!3d39.9716538!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9bdff2ca97b2b0c!2zTXV0bHUgR8O8bmxlciBGxLFyxLFuxLE!5e0!3m2!1sen!2str!4v1601577239749!5m2!1sen!2str" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>



    <div class="">
      <div class="section section-padding">
        <div class="container">
          <div class="col-xl-6">
            <div class="ct-info-box">
              <i class="flaticon-location" ></i>
              <br>
              <span style="font-size:large;">Mutlu Günler Fırını - Eryaman</span><br/>

            </div>
          </div>


          <div class="contact-info">

            <div class="row">
              <div class="col-xl-6">
                <div class="ct-info-box">

                  <h5>Bizimle İletişime Geçin</h5>
                  <span>Şehit Osman Avcı Mahallesi</span>
                  <span>Şehit Mehmet Çavuş Sokak No:13</span>
                  <span> Etimesgut/Ankara</span>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="ct-info-box">
                  <i class="flaticon-online-booking"></i>
                  <h5>İletişim Bilgileri</h5>
                  <span>0 (312) 260 25 25</span><br/>
                  <span>0 (553) 693 57 10</span>


                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>

  </div>

  <div class="contact-wrapper" >

    <div class="ct-contact-map-wrapper" style="padding-left: 5%;padding-bottom: 5%;padding-right:5% ;"><br/><br/>
      <iframe   src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12246.107062945566!2d32.821868!3d39.884837!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3eb4c2cec61b7ebf!2zTXV0bHUgR8O8bmxlciBGxLFyxLFuxLEgLSBCYWxnYXQ!5e0!3m2!1str!2str!4v1623010904123!5m2!1str!2str" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>



    <div class="">
      <div class="section section-padding">
        <div class="container">


          <div class="col-xl-6">
            <div class="ct-info-box">
              <i class="flaticon-location"></i>
              <br>

              <span style="font-size:large;">Mutlu Günler Fırını - Balgat</span><br/>


            </div>
          </div>

          <div class="contact-info">

            <div class="row">
              <div class="col-xl-6">
                <div class="ct-info-box">




                  <h5>Bizimle İletişime Geçin</h5>
                  <span>Yukarı Öveçler Mahallesi Lizbon Caddesi,</span>
                  <span> 1277. Sk. 11/A, 06520</span>
                  <span>Çankaya/Ankara</span>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="ct-info-box">
                  <i class="flaticon-online-booking"></i>
                  <h5>İletişim Bilgileri</h5>
                  <span>0 (312) 472 08 29</span><br/>



                </div>
              </div>
            </div>

          </div>

        </div>
      </div>








      <!-- <div class="section pt-0">
        <div class="container">

          <div class="section-title-wrap">
            <h2 class="title">İletişim İçin  </h2>
            <p class="subtitle">
              Geri dönüşleriniz, bizim için önemlidir.
            </p>
          </div>

          <form method="post">
            <div class="row">
              <div class="form-group col-lg-6">
                <input type="text" placeholder="İsim" class="form-control" name="fname" value="">
              </div>
              <div class="form-group col-lg-6">
                <input type="text" placeholder="Soy İsim" class="form-control" name="lname" value="">
              </div>
              <div class="form-group col-lg-12">
                <input type="email" placeholder="Email" class="form-control" name="email" value="">
              </div>
              <div class="form-group col-lg-12">
                <input type="text" placeholder="Konu" class="form-control" name="subject" value="">
              </div>
              <div class="form-group col-lg-12">
                <textarea name="message" class="form-control" placeholder="Mesajınız.." rows="8"></textarea>
              </div>
            </div>
            <button type="submit" class="btn-custom primary" name="button">Mesaj Gönder</button>
          </form>


        </div>
      </div> -->
    </div>

  </div>


  <!-- Contact End -->
<app-footer></app-footer>
