mat-spinner{
  display: flex;
  position: absolute;
  z-index: 111111;
  margin: auto;
  left: 50%;
  top: -30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.top-button{
  display: flex;
  position: fixed;
  margin: 0;
  bottom: 50px;
  right: 30px;
}

mat-toolbar{
  border-radius: 10px;
}
.head{
  margin-top: 150px;
}
