<app-header></app-header>
<div class="head">
</div>
<!-- Subheader End -->
<div class="container" >

    <mat-chip-list  >
      <mat-chip *ngFor="let c of category" (click)="goTo(c.id)" [(ngModel)]="section" name="section" ngDefaultControl  class="boxShadow" style="background-color: #ED4E53;margin-top: 10px;margin-bottom: 10px;" selected>


        <!-- <mat-icon matChipAvatar>restaurant</mat-icon> -->


        {{c.name}}


      </mat-chip>
    </mat-chip-list>

</div>

<div class="section section-padding menu-v2">
  <div  class="container">
    <mat-spinner *ngIf="status" strokeWidth="2"></mat-spinner>
    <div *ngFor="let c of category">
      <div class="menu-category dark-overlay dark-overlay-2 boxShadow "  id="{{c.id}}"
           [style.background-image]="getMenuBackground(c.imageUrl)">
        <h3>{{c.name}}</h3>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 " *ngFor="let p of c.products">
          <div class="product boxShadow">
            <a class="product-thumb"> <img src="https://{{p.imageUrl}}" style="border-radius: 5px;" class="boxShadow" alt="product"/> </a>
            <div class="product-body">
              <div class="product-desc">
                <h4><a>{{p.name}}</a></h4>
              </div>
              <div class="product-controls">
                <a href="javascript:void(0)" class="order-item btn-custom btn-sm shadow-none boxShadow">{{p.price}} ₺ </a>
                <mat-icon matTooltip="{{p.description}}" style="font-size: 30px;color: red;"
                          matTooltipPosition="above">info
                </mat-icon>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="h-25"></div>
<div class="top-button" style="position: absolute;">
  <button mat-fab class="back-to-top" aria-label="Example icon button with a bookmark icon">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>
<app-footer></app-footer>
