<app-header></app-header>

  <!-- Banner Start -->
  <div class="banner banner-1 bg-cover">

    <div class="imgs-wrapper">
      <img src="assets/img/veg/11.png" alt="veg" class="d-none d-lg-block">
    </div>

    <div class="banner-slider">

      <div class="banner-item">
        <div class="banner-inner">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                <h1 style="font-size: 50px;" class="title">Mor Ekmek</h1>
                <p class="subtitle">
                  Mor ekmeğimizi denediniz mi? Mor ekmek siparişleriniz özenle hazırlanarak bir çok ilimize 1 gün içerisinde teslim edilmektedir.
                </p>
                <div class="banner-icons-wrapper">
                  <div class="banner-icon">
                    <i class="flaticon-calories"></i>
                    <div class="banner-icon-body">
                      <h5>x</h5>
                      <span>Kalori</span>
                    </div>
                  </div>
                  <div class="banner-icon">
                    <i class="flaticon-bread-roll"></i>
                    <div class="banner-icon-body">
                      <h5> x g</h5>
                      <span>Gramaj</span>
                    </div>
                  </div>
                </div><br/>
                <div class="banner-controls">
                  <a href="/mor-ekmek" class="btn-custom primary">Mor Ekmek Hakkında Bİlgİ </a>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <img src="assets/img/anasayfa/slider.png" alt="mor ekmek">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End -->
<!-- Products Start -->
<div class="section products-section">
  <div class="container">

    <div class="section-title-wrap section-header text-center">
      <h2 class="title">Ürün Kategorilerimiz</h2>
    </div>

    <div class="product-slider">

      <!-- Product Start -->
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/anasayfa/slider.png" alt="menu item" /> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4> <a routerLink='/menu-item-v1'>Pepperoni</a> </h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc</p>
            <p class="product-price">12.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal" data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      <!-- Product End -->

      <!-- Product Start -->
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/2.png" alt="menu item" /> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4> <a routerLink='/menu-item-v1'>Four Cheese</a> </h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc</p>
            <p class="product-price">13.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal" data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      <!-- Product End -->

      <!-- Product Start -->
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/3.png" alt="menu item" /> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4> <a routerLink='/menu-item-v1'>Vegetarian</a> </h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc</p>
            <p class="product-price">9.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal" data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      <!-- Product End -->

      <!-- Product Start -->
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/4.png" alt="menu item" /> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4> <a routerLink='/menu-item-v1'>Barbeque Chicken</a> </h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc</p>
            <p class="product-price">11.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal" data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      <!-- Product End -->

    </div>

    <div class="ct-arrows centered-arrows">
      <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
      <i class="slider-next fas fa-arrow-right slick-arrow"></i>
    </div>

  </div>
</div>
<!-- Products End -->
  <!-- About us start -->
  <div class="section">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-6 mb-lg-30 ct-single-img-wrapper">
          <img src="assets/img/auth.jpg" alt="img">
          <div class="ct-dots"></div>
        </div>
        <div class="col-lg-6">
          <div class="section-title-wrap mr-lg-30">
            <h5 class="custom-primary">Sir Slice's Heritage</h5>
            <h2 class="title">Serving Pizzas By The Slice Since 1987</h2>
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p class="subtitle">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
            <div class="signature">
              <img src="assets/img/signature.png" alt="signature">
            </div>
            <a routerLink='/menu-v1' class="btn-custom">Check our Menu</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- About us End -->

  <!-- Categories Start -->
  <div class="ct-categories">

    <!-- Category Start -->
    <div class="ct-category">
      <div class="ct-category-bg" style="background-image: url('assets/img/categories-lg/4.jpg')"></div>
      <div class="ct-category-content">
        <div class="ct-category-content-inner">

          <div class="section-title-wrap section-header" >
            <h5 class="custom-primary">Pizza Menu</h5>
            <h2 class="title">Our Passion, Our Heritage, Our Pizzas </h2>
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            </p>
          </div>

          <!-- Menu Start -->
          <div class="row">
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Pepperoni Pizza</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">14.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Four Cheese</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">13.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Vegetarian</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">9.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Barbeque Chicken</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">13.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Ham & Cheese</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">11.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Specialty Pizza</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">10.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Menu End -->

        </div>
      </div>
    </div>
    <!-- Category End -->

    <!-- Category Start -->
    <div class="ct-category">
      <div class="ct-category-content">
        <div class="ct-category-content-inner">

          <div class="section-title-wrap section-header">
            <h5 class="custom-primary">Pasta Menu</h5>
            <h2 class="title">Did Someone Say Italian Food?</h2>
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            </p>
          </div>

          <!-- Menu Start -->
          <div class="row">
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Pesto Pasta</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">14.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Fettucini</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">13.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Chicken Alfredo</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">9.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Linguini</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">13.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Mac & Cheese</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">11.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ct-mini-menu-item">
                <div class="ct-mini-menu-top">
                  <h5>Italian Specialty</h5>
                  <div class="ct-mini-menu-dots"></div>
                  <span class="custom-primary">10.99$</span>
                </div>
                <div class="ct-mini-menu-bottom">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Menu End -->

        </div>
      </div>
      <div class="ct-category-bg" style="background-image: url('assets/img/categories-lg/5.jpg')"></div>

    </div>
    <!-- Category End -->

  </div>
  <!-- Categories End -->

  

 

  <!-- Testimonials Start -->
  <section class="section testimonials">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Müşteriler Bizim İçin Ne Dediler ?</h2>
      </div>

      <div class="ct-testimonials-slider">

        <!-- Testimonial item start -->
        <div class="ct-testimonial-slider-item">
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-thumb">
              <img src="assets/img/anasayfa/musteriicon.png" alt="person">
            </div>
            <div class="ct-testimonial-content">
              <i class="flaticon-left-quote"></i>
              <p>
                İlgi ve alaka konusunda muazzamdı. Lezzet açısından da aynı şekilde. Çalışan arkadaşlar son derece ilgili memnuniyet üst safada. Ailenizle ve de arkadaşlarınızla gelip güzel bir haftasonu kahvaltısı yapacağınız son derece kaliteli bir mekan.
              </p>
              <h5>İlyas Kılıç</h5>
            </div>
          </div>
        </div>
        <!-- Testimonial item end -->

        <!-- Testimonial item start -->
        <div class="ct-testimonial-slider-item">
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-thumb">
              <img src="assets/img/anasayfa/musteriicon.png" alt="person">
            </div>
            <div class="ct-testimonial-content">
              <i class="flaticon-left-quote"></i>
              <p>
                Hijyen ve lezzet açısından mükemmel bir yer, kahvaltılarını kesinlikle tavsiye ederim ayrıca herkesin elini sürdüğü menüye dokunmak yerine fotoğrafta paylaşmış oldum Qr kod ile tüm menüyü online görebilirsiniz
              </p><br/>
              <h5>Yunus Güven</h5>

            </div>
          </div>
        </div>
        <!-- Testimonial item end -->

        <!-- Testimonial item start -->
        <div class="ct-testimonial-slider-item">
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-thumb">
              <img src="assets/img/anasayfa/musteriicon.png" alt="person">
            </div>
            <div class="ct-testimonial-content">
              <i class="flaticon-left-quote"></i>
              <p>
                Açıldığından bu güne arada sırada gitsemde çok severim sahipleri çalışanları çok sıcak insanlardır.Ankara'ya yetecek kadar ekmek çıkarabilecek fırın ve fermente tesisleri olan lavaboları çocuk oyun alanı yıllardır aynı titizlikle yönetilen bir sıcak ortamdır.
              </p>
              <h5>Meral Yalçın</h5>
            </div>
          </div>
        </div>
        <!-- Testimonial item end -->


      </div>

      <div class="ct-arrows centered-arrows with-margin">
        <i class="fas fa-arrow-left slider-prev"></i>
        <i class="fas fa-arrow-right slider-next"></i>
      </div>

    </div>
  </section>
  <!-- Testimonials End -->

  

<app-footer></app-footer>