<app-header></app-header>

<!-- Banner Start -->
<div class="banner banner-1 bg-cover">

  <div class="imgs-wrapper">
    <!--      <img src="assets/img/veg/11.png" alt="veg" class="d-none d-lg-block">-->
  </div>

  <div class="banner-slider">

    <div class="banner-item">
      <div class="banner-inner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
              <h1 style="font-size: 50px;" class="title">Mor Ekmek</h1>
              <p class="subtitle">
                Mor ekmeğimizi denediniz mi? Mor ekmek siparişleriniz özenle hazırlanarak bir çok ilimize 1 gün
                içerisinde teslim edilmektedir.
              </p>
              <div class="banner-icons-wrapper">
                <div class="banner-icon">
                  <i class="flaticon-calories"></i>
                  <div class="banner-icon-body">
                    <span style="font-size: 14px;font-weight: bold;">240</span>
                    <br>
                    <span>Kalori</span>
                  </div>
                </div>
                <div class="banner-icon">
                  <i class="flaticon-bread-roll"></i>
                  <div class="banner-icon-body">
                    <span style="font-size: 14px;font-weight: bold;">100 G</span>
                    <br>
                    <span>Gramaj</span>
                  </div>
                </div>
              </div>
              <br/>
              <div class="banner-controls">
                <a href="/mor-ekmek" class="btn-custom primary">Mor Ekmek Hakkında Bilgi </a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <img src="assets/img/anasayfa/slider.png" alt="mor ekmek">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">

        <div class="col-lg-4" *ngFor="let p of posts">
          <article class="post">
            <h2 class="title">{{p.title}}</h2>

              <div class="post-thumbnail" >

              <img *ngIf="p.imageUrl && p.imageUrl != 'null'" src="https://{{p.imageUrl}}" style="height: 150px;width: 300px;border-radius: 15px;" alt="Mutlu Günler Fırını" >

                <iframe *ngIf="p.videoUrl && p.videoUrl != 'null'" style="border-radius: 15px;" class="videoStyle" [src]="changeVideoUrl(p)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <div class="post-desc">
              <p>{{p.description}}</p>
            </div>


          </article>
        </div>









        </div>
        </div>
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>

<!-- Banner End -->
<!-- Products Start -->
<!--<div class="section products-section">
  <div class="container">

    <div class="section-title-wrap section-header text-center">
      <h2 class="title">Ürün Kategorilerimiz</h2>
    </div>

    <div class="product-slider">

      &lt;!&ndash; Product Start &ndash;&gt;
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/anasayfa/slider.png" alt="menu item"/>
        </a>
        <div class="product-body">
          <div class="product-desc">
            <h4><a routerLink='/menu-item-v1'>Pepperoni</a></h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica,
              sport etc</p>
            <p class="product-price">12.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal"
               data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      &lt;!&ndash; Product End &ndash;&gt;

      &lt;!&ndash; Product Start &ndash;&gt;
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/2.png" alt="menu item"/> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4><a routerLink='/menu-item-v1'>Four Cheese</a></h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica,
              sport etc</p>
            <p class="product-price">13.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal"
               data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      &lt;!&ndash; Product End &ndash;&gt;

      &lt;!&ndash; Product Start &ndash;&gt;
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/3.png" alt="menu item"/> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4><a routerLink='/menu-item-v1'>Vegetarian</a></h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica,
              sport etc</p>
            <p class="product-price">9.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal"
               data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      &lt;!&ndash; Product End &ndash;&gt;

      &lt;!&ndash; Product Start &ndash;&gt;
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/4.png" alt="menu item"/> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4><a routerLink='/menu-item-v1'>Barbeque Chicken</a></h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica,
              sport etc</p>
            <p class="product-price">11.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal"
               data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      &lt;!&ndash; Product End &ndash;&gt;

    </div>

    <div class="ct-arrows centered-arrows">
      <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
      <i class="slider-next fas fa-arrow-right slick-arrow"></i>
    </div>

  </div>
</div>-->
<!-- Products End -->
<!-- About us start -->
<!-- TODO: HAKKIMIZDA -->
<div class="section">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6 mb-lg-30 ct-single-img-wrapper">
        <img src="assets/img/osmanli1.jpg" alt="Mutlu Günler Fırını">
        <br>
        <br>
        <img src="assets/img/osmanli2.jpg" alt="Mutlu Günler Fırını">
        <div class="ct-dots"></div>
      </div>
      <div class="col-lg-6">
        <div class="section-title-wrap mr-lg-30">
          <h4 class="custom-primary" style="font-weight: bold;">Osmanlı'dan bize kalan bu miras...</h4>
          <!-- <h2 class="title">1997 yılında başlar,</h2> -->
          <p class="subtitle">
            Osmanlı'dan bizlere miras kalan bu geleneği, <b>Mutlu Günler Fırını</b>  olarak yıllardır devam ettirmekteyiz.
      Bu zorlu günlerde sizlerin de desteğiyle,
        tüm şubelerimizde <b>"Askıda Ekmek"</b> geleneğini devam ettirerek ihtiyaç sahiplerine ekmeklerini ulaştırmaya devam ediyoruz.
          </p>
         <!-- <a routerLink='/hakkimizda' class="btn-custom">Devamı..</a> -->
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<br>
<!-- About us End -->

<!-- Categories Start -->
<!--<div class="ct-categories">

  &lt;!&ndash; Category Start &ndash;&gt;
  <div class="ct-category">
    <div class="ct-category-bg" style="background-image: url('assets/img/categories-lg/4.jpg')"></div>
    <div class="ct-category-content">
      <div class="ct-category-content-inner">

        <div class="section-title-wrap section-header">
          <h5 class="custom-primary">Pizza Menu</h5>
          <h2 class="title">Our Passion, Our Heritage, Our Pizzas </h2>
          <p class="subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy
          </p>
        </div>

        &lt;!&ndash; Menu Start &ndash;&gt;
        <div class="row">
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Pepperoni Pizza</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">14.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Four Cheese</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">13.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Vegetarian</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">9.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Barbeque Chicken</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">13.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Ham & Cheese</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">11.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Specialty Pizza</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">10.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
        </div>
        &lt;!&ndash; Menu End &ndash;&gt;

      </div>
    </div>
  </div>
  &lt;!&ndash; Category End &ndash;&gt;

  &lt;!&ndash; Category Start &ndash;&gt;
  <div class="ct-category">
    <div class="ct-category-content">
      <div class="ct-category-content-inner">

        <div class="section-title-wrap section-header">
          <h5 class="custom-primary">Pasta Menu</h5>
          <h2 class="title">Did Someone Say Italian Food?</h2>
          <p class="subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy
          </p>
        </div>

        &lt;!&ndash; Menu Start &ndash;&gt;
        <div class="row">
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Pesto Pasta</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">14.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Fettucini</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">13.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Chicken Alfredo</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">9.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Linguini</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">13.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Mac & Cheese</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">11.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ct-mini-menu-item">
              <div class="ct-mini-menu-top">
                <h5>Italian Specialty</h5>
                <div class="ct-mini-menu-dots"></div>
                <span class="custom-primary">10.99$</span>
              </div>
              <div class="ct-mini-menu-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
              </div>
            </div>
          </div>
        </div>
        &lt;!&ndash; Menu End &ndash;&gt;

      </div>
    </div>
    <div class="ct-category-bg" style="background-image: url('assets/img/categories-lg/5.jpg')"></div>

  </div>
  &lt;!&ndash; Category End &ndash;&gt;

</div>-->
<!-- Categories End -->


<!-- Testimonials Start -->
<section class="section testimonials">
  <div class="container">
    <div class="section-title-wrap section-header text-center">
      <h2 class="title">Müşteriler Bizim İçin Ne Dediler ?</h2>
    </div>

    <div class="ct-testimonials-slider">

      <!-- Testimonial item start -->
      <div class="ct-testimonial-slider-item">
        <div class="ct-testimonial-item">
          <div class="ct-testimonial-thumb">
            <!-- <img src="assets/img/anasayfa/musteriicon.png" alt="person"> -->
          </div>
          <div class="ct-testimonial-content">
            <i class="flaticon-left-quote"></i>
            <p>
              İlgi ve alaka konusunda muazzamdı. Lezzet açısından da aynı şekilde. Çalışan arkadaşlar son derece ilgili
              memnuniyet üst safada. Ailenizle ve de arkadaşlarınızla gelip güzel bir haftasonu kahvaltısı yapacağınız
              son derece kaliteli bir mekan.
            </p>
            <h5>İlyas Kılıç</h5>
          </div>
        </div>
      </div>
      <!-- Testimonial item end -->

      <!-- Testimonial item start -->
      <div class="ct-testimonial-slider-item">
        <div class="ct-testimonial-item">
          <div class="ct-testimonial-thumb">
            <!-- <img src="assets/img/anasayfa/musteriicon.png" alt="person"> -->
          </div>
          <div class="ct-testimonial-content">
            <i class="flaticon-left-quote"></i>
            <p>
              Hijyen ve lezzet açısından mükemmel bir yer, kahvaltılarını kesinlikle tavsiye ederim ayrıca herkesin
              elini sürdüğü menüye dokunmak yerine fotoğrafta paylaşmış oldum Qr kod ile tüm menüyü online
              görebilirsiniz
            </p><br/>
            <h5>Yunus Güven</h5>

          </div>
        </div>
      </div>
      <!-- Testimonial item end -->

      <!-- Testimonial item start -->
      <div class="ct-testimonial-slider-item">
        <div class="ct-testimonial-item">
          <div class="ct-testimonial-thumb">
            <!-- <img src="assets/img/anasayfa/musteriicon.png" alt="person"> -->
          </div>
          <div class="ct-testimonial-content">
            <i class="flaticon-left-quote"></i>
            <p>
              Açıldığından bu güne arada sırada gitsemde çok severim sahipleri çalışanları çok sıcak
              insanlardır.Ankara'ya yetecek kadar ekmek çıkarabilecek fırın ve fermente tesisleri olan lavaboları çocuk
              oyun alanı yıllardır aynı titizlikle yönetilen bir sıcak ortamdır.
            </p>
            <h5>Meral Yalçın</h5>
          </div>
        </div>
      </div>
      <!-- Testimonial item end -->


    </div>

    <div class="ct-arrows centered-arrows with-margin">
      <i class="fas fa-arrow-left slider-prev"></i>
      <i class="fas fa-arrow-right slider-next"></i>
    </div>

  </div>
  <div class="top-button">
    <button mat-fab class="back-to-top" aria-label="Example icon button with a bookmark icon">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
</section>
<!-- Testimonials End -->


<app-footer></app-footer>
